.myheader_links {
    display: flex;
    justify-content: space-between;
    width: 400px;
    background: #fcdddd;
    margin-left: 160px;
    margin-right: 160px;
}

.myheader {
    height: 70px;
    display: flex;
    align-items: center;
    background: #fcdddd;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: space-between;
    width: 100%;
}

.title {
    min-width: 200px;
    margin-left: 160px;
    background: inherit;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
